.container {
	display: flex;
	height: 50%;
    /* border: 1px black solid; */
}

.messageContainer {

	text-align: center;
	font-size: 18px;
	font-style: oblique;
	color: red;
}

.totalContainer {
	text-align: center;
	font-size: 14px;
}

h1 {
	text-align: center;
	margin-bottom: 25%;
}

#jar {
	margin-left: 10%;
}

.liquide {
	margin-left: 10%;
	text-align: left;
	height: 50%;
    /* border: 1px black solid; */
}

input[type="range"] {
	width: 300px; /* Ajustez la largeur selon vos besoins */
	height: 10px; /* Ajustez la hauteur selon vos besoins */
	background: linear-gradient(to right, rgba(128, 128, 128, 0.5) 40%, rgba(255, 0, 0, 0.5) 40%, rgba(255, 0, 0, 0.5) 100%, rgba(128, 128, 128, 0.5) 100%, transparent 60%, transparent 100%);
	/* -webkit-appearance: none; */
	margin: 10px 0;
}

input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    background-color: #315157;
    height: 2rem;
    width: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px; /* Ajustez la largeur du curseur selon vos besoins */
	height: 20px; /* Ajustez la hauteur du curseur selon vos besoins */
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
}